rd-cols {
	display: grid;
	gap: var(--rd-space-5);
	margin: 0 0 var(--rd-space-5);
	grid-template-columns: repeat(var(--_rd-cols, 2), minmax(0, 1fr));
	align-items: start;
}
rd-cols[n="2"] {
	--_rd-cols: 2;
}
rd-cols[n="3"] {
	--_rd-cols: 3;
	gap: var(--rd-space-4);
}
rd-cols[n="4"] {
	--_rd-cols: 4;
	gap: var(--rd-space-4);
}

@media (max-width: 720px) {
	rd-cols {
		grid-template-columns: 1fr !important;
		gap: var(--rd-space-4);
	}
}
